@*@{
    ViewBag.BreadCrumbPagina = "Home";
    ViewBag.TituloPagina = "Home";
}*@
@*<script src="~/scripts/App/Controller/HomeCtrl.js"></script>*@
<row>
    <div ng-controller="HomeCtrl as home">
        <button type="button" class="btn btn-default" ng-click="home.open()">Open me!</button>
    </div>
</row>