@*@{
    ViewBag.BreadCrumbPagina = "";
    ViewBag.TituloPagina = "";
}*@
<row>
    <div class="view-animate-container">
        <div ng-view class="view-animate conteudo"></div>
    </div>
</row>
@*<br />
<pre>$location.path() = {{main.$location.path()}}</pre>
<pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
<pre>$route.current.params = {{main.$route.current.params}}</pre>
<pre>$routeParams = {{main.$routeParams}}</pre>*@