<row>
    <div ng-controller="OrdemServicoCtrl as os">
        <h3>Bootstrap theme</h3>
        <p>Selected: {{person.selected}}</p>
        <ui-select ng-model="person.selected"
                   theme="bootstrap"
                   ng-disabled="disabled"
                   reset-search-input="false"
                   style="width: 300px;">
            <ui-select-match class="ui-select-match" placeholder="Selecione o Cliente...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices class="ui-select-choices" repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="person.name | highlight: $select.search"></div>
                <small>
                    email: {{person.email}}
                    age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                </small>
            </ui-select-choices>
        </ui-select>
    </div>
</row>